* {
  margin: 0;
  box-sizing: border-box;
}

header,
footer {
  background-color: navy;
  color: white;
  padding: 20px;
}

nav {
  background-color: lightskyblue;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
}

main {
  padding: 20px;
}